{{define "home"}}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>クイズ</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div id="container">
        <header>
            <h1 id="logo"><a href="/home">yayyay４択クイズでshow</a></h1>
        </header>

        <nav id="menubar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/lobby">Lobby</a></li>
                <li><a href="/">Quiz</a></li>
		<li><a href="/">FAQs</a></li>
		<li><a href="/login"></a></li>
            </ul>
        </nav>
        <section id="navi">
            <h2 id="navi_hdr">案内1</h2>
            <p>う～ん、学生に授業の内容を定着させるのに、今のままだとうまくいかないですねぇ、</p>
            <p>どうすればいいんでしょうかぁ、</p>
            <h3>案内2</h3>
            <p>いやいや、四択クイズでしょ？</p>
        </section>
    </div>
</body>
{{end}}


