{{define "room"}}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>クイズ</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div id="container">
	<header>
		<h1 id="logo"><a href="/home">yayyay４択クイズでshow</a></h1>
        </header>

        <nav id="menubar">
            <ul>
		<li><a href="/home">Home</a></li>
                <li><a href="/lobby">Lobby</a></li>
                <li><a href="/home">Quiz</a></li>
                <li><a href="/home">FAQs</a></li>
                <li><a href="/login"></a></li>
            </ul>
        </nav>
        <section id="start">
            <div class="row">
                <div class="col text-center">
					<br><br>
					ルーム番号：{{.Id}}<br>
					クイズ名：{{.Title}}<br>
					サブタイトル：{{.Subtitle}}<br>
					作者：{{.Author}}<br>
					作成日：{{.Date}}<br>
					コメント：{{.Comment}}<br>
					<br>
					<a href="/quiz/{{.Id}}">
					<button type="button">クイズを開始する</button>
					</a>
					<br><br>
				</div>
			</div>
		</section>
    </div>
</body>
{{end}}

