@charset "utf-8";

/*全体の設定*/
body {
    margin: 0px;
    padding: 0px;
    color: #3e6680;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    line-height: 2;
    background: #fff url(/image/bg.JPG) no-repeat center center/cover fixed;	

}
h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
a:hover img {opacity: 0.6}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

h2 {
	clear: both;
	margin-bottom: 15px;
	color: #fff;			/*文字色*/
	padding: 5px 20px;		/*上下、左右への余白*/
	background: #3e6680;	/*背景色*/
	border-radius: 4px;		/*角丸のサイズ。大きくすれば角の丸みが大きくなる。角丸が不要ならこの１行削除。*/
}
h3 {
	clear: both;
	margin-bottom: 15px;
	padding: 3px 20px;			/*上下、左右への余白*/
	border-radius: 4px;			/*角丸のサイズ。大きくすれば角の丸みが大きくなる。角丸が不要ならこの１行削除。*/
	border: 2px solid #3e6680;	/*枠線の幅、線種、色*/
}

/*段落タグ設定
---------------------------------------------------------------------------*/
p {
	padding: 0px 20px 20px;	/*上、左右、下への余白*/
}

/*リンク設定
---------------------------------------------------------------------------*/
a {
	color: #3e6680;	/*リンクテキストの色*/
	-webkit-transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
	transition: 0.5s;			/*同上*/
}
a:hover {
	color: #d50f26;	/*マウスオン時の文字色*/
}

/*コンテナー（ホームページを囲む一番外側のブロック）
---------------------------------------------------------------------------*/
#container {
	width: 80%;					/*ブロックの幅を画面の80%にする設定。*/
	max-width: 1000px;			/*上のwidth指定の追加設定。幅1000pxを最大幅に設定し、それ以上広げない。*/
	margin: 3% auto 0px;		/*HP画面の左右中央に表示させる設定。最初の5%は上(コンテナーの外側)に空ける余白の指定。*/
	background: #fff;					/*背景色（古いブラウザ用）*/
	background: rgba(255,255,255,0.9);	/*背景色。rgba値は左３つが色指定(この場合は白)で最後の小数点が透明度。*/
	border-radius: 10px;	/*角丸のサイズ。大きくすれば角の丸みが大きくなる。角丸が不要ならこの１行削除。*/
	padding: 4%;			/*ブロック内の余白*/
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);	/*影の設定。右へ・下へ・ぼかし幅・色(rgba)の設定。rgba値は左３つが色指定(この場合は黒)で最後の小数点が透明度。*/
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);			/*同上*/
	overflow: hidden;
}
/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*headerブロック*/
header {
	text-align: center;	/*ヘッダーブロックの内容をセンタリングする設定*/
}
/*ロゴ画像設定*/
#logo  img {
	width: 80%;			/*画像幅を上で設定している「container」の80%にする設定。*/
	max-width: 500px;	/*上の行の指定だけだと大きくなりすぎる場合があるので、最大幅(max-width)を500pxに指定。これ以上大きくならない。*/
}

/*メニュー
---------------------------------------------------------------------------*/
/*メニュー全体を囲むブロック*/
#menubar {
	margin: 50px 0px;	/*メニューブロックの上下(ブロックの外側)に空けるスペース*/
	border-top: 3px solid #3e6680;		/*上の線の幅、線種、色*/
	border-bottom: 3px solid #3e6680;	/*下の線の幅、線種、色*/
	text-align: center;	/*メニューブロックの内容をセンタリングする設定*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	display: inline;	/*横並びにする設定*/
}
#menubar li a {
	text-decoration: none;
	padding: 10px 20px;				/*10pxは上下に、20pxは左右へ空ける余白指定。*/
	color: #3e6680;					/*文字色*/
	font-size: 20px;				/*文字サイズを少し大きくする設定。お好みで変更して下さい。*/
	letter-spacing: 0.2em;			/*文字感覚を少し広くする設定。広くしないでいいなら、この１行を削除。*/
}
/*マウスオン時の設定*/
#menubar li a:hover {
	background: #3e6680;	/*背景色*/
	color: #fff;			/*文字色*/
}
