{{define "quiz"}}
    {{template "header" .}}
    <body>
        <div id="area_statement"></div>
        <div id="area_choice1"></div>
        <div id="area_choice2"></div>
        <div id="area_choice3"></div>
        <div id="area_choice4"></div>
        
        <div id="area_Judge"></div>
        <div id="Next"></div>
        <div id="AnswerTime"></div>
        <script>
            var StartQuiz_i= function (i) {
                /* i回目のqiuzのスタート 
                ↓ のコードのっぺりでウケてる
                */
                var area_Judge = document.getElementById("area_Judge");
                var Next = document.getElementById("Next");
                var AnswerTime = document.getElementById("AnswerTime");
                area_Judge.innerHTML = "";
                Next.innerHTML = "";
                AnswerTime.innerHTML = "";

                var q = Quiz[i];
                var answers = [q.Choice1, q.Choice2, q.Choice3, q.Choice4];

                shuffle(answers);
                answers.unshift(0);
                var StartTime = performance.now();
                for (let i = 1; i < 5; i++) {
                    var c = "<input type='button' id='choice" + i + "' value='" + answers[i] + "' ";
                    c += "onclick='judge(UserAns=\"" + answers[i] + "\", ";
                    c += "StartTime="+StartTime+")'>";
                    document.getElementById("area_choice"+i).innerHTML = c;
                }
                document.getElementById("area_statement").innerHTML = q.Statement;
                quiz_i++;
            }

            var judge = function(UserAns, StartTime){ 
                /* 
                ユーザが答えを入力または制限時間が来たときにその正誤判定を行う 
                TODO: 正誤判定と正解時間の記録と送信
                */
                
                /* タイムアウト検知用のあれこれ */
                if (GOING) { return; }
                GOING = true;

                /* 入力するなくそがって処理 */
                for (var i = 1; i < 5; i++) {
                    document.getElementById("choice"+i).disabled = true;
                }
                var area_Judge = document.getElementById("area_Judge");
                switch (UserAns) {
                    case "":
                        area_Judge.innerHTML = "<h3>Time is over!!!</h3>"
                        break;
                    case CorrectAns:
                        area_Judge.innerHTML = "<h3>Correct answer!!!</h3>"
                        Ncorrect++;
                        break;
                    default:
                        area_Judge.innerHTML = "<h3>Wrong answer!!!</h3>"
                        break;
                }
                var AnswerTime = document.getElementById("AnswerTime");
                var Next = document.getElementById("Next");
                AnswerTime.innerHTML = "回答時間：" + Math.round((performance.now() - StartTime) / 100) / 10 + " 秒";
                if (quiz_i == quiz_N) {
                    Next.innerHTML = "<h3>おわおわり</h3>";
                    Next.innerHTML += "正解率 : " + Ncorrect + " / " + quiz_N;
                } else {
                    GOING = false;
                    CorrectAns = Quiz[quiz_i].Answer;
                    UserAns = "";
                    Next.innerHTML = "<input type='button' value='つぎへ' onclick='StartQuiz_i(quiz_i)' >"
                }

            }

            function shuffle(arr){
                /* シャッフルするやつ */
                for(var i =arr.length-1 ; i>0 ;i--){
                    var j = Math.floor( Math.random() * (i + 1) );  
                    [arr[i],arr[j]]=[arr[j],arr[i]]; 
                }
            }

            var Quiz = JSON.stringify({{.}});
            Quiz = JSON.parse(Quiz);
            //var Quiz = [
                //{
                    //"QuizID": 1,
                    //"RoomID": 1,
                    //"Statement": "TestStatement1-1",
                    //"Answer": "correct1",
                    //"Choice1": "correct1",
                    //"Choice2": "huga1",
                    //"Choice3": "piyo1",
                    //"Choice4": "guhe1"
                //},
                //{
                    //"QuizID": 2,
                    //"RoomID": 1,
                    //"Statement": "TestStatement1-2",
                    //"Answer": "correct2",
                    //"Choice1": "hoge2",
                    //"Choice2": "huga2",
                    //"Choice3": "correct2",
                    //"Choice4": "guhe2"
                //}
            //];
            var quiz_i = 0;
            Quiz = JSON.stringify(Quiz);
            Quiz = JSON.parse(Quiz);
            var quiz_N  = Quiz.length;

            var Ncorrect = 0;
            var GOING = false;
            var CorrectAns = Quiz[quiz_i].Answer;
            var UserAns = "";
            StartQuiz_i(quiz_i);
        </script>
    </body>
    {{template "footer" .}}
{{end}}
